*.elc
*~

auto-save-list/
auto-save/
eshell

history
tramp
.emacs.desktop
elpa/archives/melpa-stable/archive-contents
elpa/archives/gnu/archive-contents
elpa/archives/gnu/archive-contents.signed
/.emacs.desktop.lock
