*.elc
*~
*.py[cod]

auto-save-list/
auto-save/
eshell

history
tramp
.emacs.desktop
elpa/
elpy/
eln-cache/
transient/
semanticdb/
ebuild-mode/
/.emacs.desktop.lock
/ede-projects.el
.dap-breakpoints
.lsp-session-v1